head(lang="en")
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Помогаем освоить азы дизайна — Лин для дизайнеров
    link(href='https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
    script(rel='script' type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(rel='script' type='text/javascript' src='js/scripts.js')